<% javascript 'handsontable.full',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'bootstrap.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main.js',
              'soqlexecuter.js',
              'describe.js', 
              'metadata',
              'apex.js'
%>
<div id="mainArea" class="soql">

  <div id="overlay" class="requesting-overlay">
    <div id="overlay-content" class="overlay-content noselect">Requesting...</div>
    <div class="loader"></div>
  </div>

  <div class="header">
    <div id="progress">
      <div id="progress-line" class="progress-line"></div>
    </div>

    <div id="menuList">    
        <div class="btn-group">
            <button id="userInfoButton" class="btn btn-secondary btn-sm dropdown-toggle dropdown-btn paper-raise" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @current_user.name %>
            </button>

            <ul id="dropdown-menu" class="dropdown-menu">
                <li><a id="changeLocale" href="javascript:void(0)">Change Locale</a></li>
                <li><a id="refreshDescribe" href="javascript:void(0)">Refresh sObjects</a></li>
                <li><a id="refreshMetadata" href="javascript:void(0)">Refresh Metadata</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
            </ul>
        </div>
        <ul id="menus">
          <li><a id="soql" href="#" class="menus displayed">SOQL</a></li>
          <li><a id="describe" href="#" class="menus">Describe</a></li>
          <li><a id="metadata" href="#" class="menus">Metadata</a></li>
          <li><a id="apex" href="" class="menus">Apex</a></li>
        </ul>
    </div>  
  </div>

  <div id="contentsArea">
    <div id="soqlContent"><%= render "soqlexecuter/soqlexecuter" %></div>
    <div id="describeContent">
      <% if @describe_global_error.nil? %>
        <%= render "describe/describe" %>
      <% else %>
        <div class="errorPage"><%= @describe_global_error %></div>
      <% end %>
    </div>
    <div id="metadataContent">
      <% if @describe_metadata_objects_error.nil? %>
        <%= render "metadata/metadata" %>
      <% else %>
        <div class="errorPage"><%= @describe_metadata_objects_error %></div>
      <% end %>
    </div>
    <div id="apexContent"><%= render "apex/apex" %></div>
  </div>

</div>
