<% javascript 'handsontable.full',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'bootstrap.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main',       
              'soqlexecuter', 
              'describe', 
              'metadata',
              'tooling',
              'apex'
%>
<div id="mainArea">

    <div id="overlay" class="requesting-overlay">
        <div id="overlay-content" class="overlay-content noselect">Requesting...</div>
        <div class="loader"></div>
    </div>

    <div class="header">
        <div id="progress">
            <div id="progress-line" class="progress-line"></div>
        </div>

        <div id="menuList">    
            <div class="btn-group">
                <button id="userInfoButton" class="btn btn-secondary btn-sm dropdown-toggle dropdown-btn paper-raise" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= @current_user.name %>
                </button>

                <ul id="dropdown-menu" class="dropdown-menu">
                    <li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
                    <li><a id="refreshDescribe" href="#">Refresh sObjects</a></li>
                    <li><a id="refreshMetadata" href="#">Refresh Metadata</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a id="allOrNone" href="javascript:void(0)">
                            <div class="checkmark">
                                <input type="checkbox" id="allOrNoneChk"/>
                                <label for="allOrNoneChk">AllOrNoneHeader</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <ul id="menus">
                <li><a id="soqlexecuter" href="" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
                <li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="">Describe</a></li>
        		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a></li>
                <li><a id="apex" href="" class="menus" method="GET" loadTarget="#apexContent" action="">Apex</a></li>
            </ul>
        </div>  
    </div>

    <div id="contentsArea">
        <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent">
            <% if @describe_error.nil? %>
                <%= render "describe/describe" %>
            <% else %>
                <div class="errorPage"><%= @describe_error %></div>
            <% end %>
        </div>
        <div id="metadataContent"><%= render "metadata/metadata" %></div>	
        <div id="apexContent"><%= render "apex/apex" %></div>
    </div>

</div>
