<style>
<style>
.resultTab{
	padding-right: 7px;
}

.resultSoql{
	border: 1px solid lightgray;
	font-size: 9pt;
	font-family:Arial;
	padding: 4px;
	margin-bottom: 2px;
	margin-top: 2px;
	white-space: pre;
}

.resultGrid {
	background: white;
	outline: 0;
	border: 0px solid gray;
}

.button_to,
.button_to div {
  	display: inline;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-size: 9.5pt;
	font-family:Arial;
	margin-bottom: 2px;
}
.ui-tabs .ui-tabs-panel {
	padding: 0;
	margin: 0;
}

.ui-tabs .ui-tabs-nav li a {
	font-size:10pt !important;
}

.noselect {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em .5em .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav:focus {
	/*
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
	border-radius: 0px;
	*/
}

#tabArea ul li a { outline:none; /* outline-color:red */; }
#tabArea ul li { outline:none; /* outline-color:red */; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	/* cursor: pointer; */
}

.ui-tabs-nav .ui-icon { 
	/*
	float: right;
	margin: 0em 0em 0 1em;
	cursor: pointer;
	*/
}

.handsontable span.colHeader{
    font-size: 10pt;
}

.handsontable th, .handsontable td{
    font-size: 10pt;
}

.handsontable span.data{
    color: black;
    font-style:bold;
}

.jstree-default a { 
    white-space:normal !important; height: auto; 
}
.jstree-anchor {
    height: auto !important;
}
.jstree-default li > ins { 
    vertical-align:top; 
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
}

#metadataArea{
	padding-top: 20px;
	width:100%;
	margin: 0 auto;
}

#soqlArea{
	padding-top: 20px;
	width:100%;
	margin: 0 auto;
}

#describeArea{
	padding-top: 20px;
	width:100%;
	margin: 0 auto;
}

#tree{
	font-size:14px;
	height:500px;
	overflow:auto;
}

#formArea{
	width: 70%;
	margin: 0 auto;
}

#formArea #exportButtonArea .btn{
    font-size:9.5pt;
  	display: inline;
}

#messageArea{
    width: 50%;
    display: none;
    color: red;
    white-space: pre;
}

#tabArea{
	width: 60%;
	border: 0px solid lightgray;
	//margin: 0 auto;
	float:left;
}

#tabArea li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer; 
}

#dummyArea{
	width: 15%;
	height: 10px;
	/*border: 1px solid lightgray;*/
	float: left;
}

.displayed{
	background:white;
}

#soqlexecuterContent, #describeContent, #metadataContent {
 display:none;   
}

.soqlexecuter #soqlexecuterContent, .describe #describeContent, .metadata #metadataContent{
 display:block;   
}

</style>
<% javascript 'handsontable.full.min','jquery-1.11.2.min','jquery-ui-1.11.3.min','main','jstree', 'jstree.min', 'soqlexecuter', 'describe', 'metadata' %>
<div id="menuList">
    <ul>
		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
        <li><a id="soqlexecuter" href="#" class="menus" method="GET" loadTarget="">SOQL</a></li>
		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="describe">Describe</a></li>
		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="metadata">Metadata</a></li>
    </ul>
</div>

<div>
<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
</div>
<%#= render :partial => 'errormsg', :locals => {:data_source => nil} %>
<% flash.each do |key, value| %>
    <div id="flashMessage" class="alert alert-<%= key %>"><%= simple_format(value) %></div>
<% end %>
<div id="mainArea">
    <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
    <div id="describeContent"><%= render "describe/describe" %></div>
	<div id="metadataContent"><%= render "metadata/metadata" %></div>
	
</div>
