
<% javascript 'handsontable.full',
              'handsontable-chosen-editor',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'bootstrap.bundle.min.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main',			  
              'soqlexecuter', 
              'describe', 
              'metadata',
              'tooling',
              'apex'
%>
<style>

/* Progress Bar */

#progress{
    visibility: hidden;
    height: 2px;
}

.progress-line, .progress-line:before {
  height: 2px;
  width: 100%;
  margin: 0;
}
.progress-line {
  /*background-color: #b3d4fc;*/
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  /*background-color: #3f51b5;*/
  background-color: #337ab7;
  content: '';
  -webkit-animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
  
.dropdown-item-font{
  font-size: 0.875rem;
  }

</style>
<div id="mainArea">

    <!--<div id="userInfo" style="text-align:right; padding-right:10px;margin:0px;height:20px;">
            <div id="currentUserId"></div>
    </div>-->
    <div id="userInfo" style="text-align:right; padding-right:10px;margin:0px;height:20px;">
      <div class="btn-group">
        <button id="userInfoButton" class="btn btn-secondary btn-sm dropdown-toggle" style="float: right;border-radius: 12px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.name %>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div id="menuList">
      
        <ul>
      		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
          <li><a id="soqlexecuter" href="" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
      		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="describe">Describe</a></li>
      		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a></li>
          <!--<li><a id="tooling" href="" class="menus" method="GET" loadTarget="#toolingContent" action="">Tooling</a></li>-->
          <li><a id="apex" href="" class="menus" method="GET" loadTarget="#apexContent" action="">Apex</a></li>
        </ul>
    </div>  

    <div id="progress"><div id="progress-line"></div></div>

    <div id="spaceArea" style="height:20px;">

    </div>

    <div id="contentsArea">
        <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent"><%= render "describe/describe" %></div>
        <div id="metadataContent"><%= render "metadata/metadata" %></div>	
        <!--<div id="toolingContent"><%= render "tooling/tooling" %></div>-->
        <div id="apexContent"><%= render "apex/apex" %></div>
    </div>
</div>
