<% javascript 'handsontable.full',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'bootstrap.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main.js',
              'soqlexecuter.js',
              'describe.js', 
              'metadata',
              'apex.js'
%>
<div id="mainArea" class="soql" current-locale-option="">

    <div id="overlay" class="requesting-overlay">
        <div id="overlayContent" class="overlay-content noselect">Requesting...</div>
        <div class="loader"></div>
    </div>

    <div class="header">
        <div id="progress">
          <div id="progress-line" class="progress-line"></div>
        </div>

        <div id="menuList">    
            <div class="btn-group">
                <button id="userInfoButton" class="btn btn-secondary btn-sm dropdown-toggle dropdown-btn paper-raise" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= @current_user.name %>
                </button>
                <span id="userLocalOption"><%= @current_user.language %></span>
                <ul id="dropdownMenu" class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a id="changeLocale" href="javascript:void(0)">Locale Option</a>
                        <ul class="dropdown-menu locale-options">
                            <li><a href="javascript:void(0)" locale-option="ja">Japanese</a></li>
                            <li><a href="javascript:void(0)" locale-option="en_US">English</a></li>
                        </ul>
                    </li>
                    <% if @describe_global_error.nil? %>
                        <li><a id="refreshSObjects" href="javascript:void(0)" action="<%= refresh_sobjects_path() %>">Refresh sObjects</a></li>
                    <% else %>
                        <li><a href="javascript:void(0)" class="disabled-dropdown">Refresh sObjects</a></li>
                    <% end %>
                    <% if @describe_metadata_objects_error.nil? %>
                        <li><a id="refreshMetadata" href="javascript:void(0)" action="<%= refresh_metadata_path() %>">Refresh Metadata</a></li>
                    <% else %>
                        <li><a href="javascript:void(0)" class="disabled-dropdown">Refresh Metadata</a></li>
                    <% end %>                                        
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
                </ul>
            </div>
            <ul id="menus">
                <li><a id="soql" href="javascript:void(0)" class="menu-item displayed">SOQL</a></li>
                <li><a id="describe" href="javascript:void(0)" class="menu-item">Describe</a></li>
                <li><a id="metadata" href="javascript:void(0)" class="menu-item">Metadata</a></li>
                <li><a id="apex" href="javascript:void(0)" class="menu-item">Apex</a></li>
            </ul>
        </div>
    </div>

    <div id="contentsArea">
        <div id="soqlContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent">
            <% if @describe_global_error.nil? %>
                <%= render "describe/describe" %>
            <% else %>
                <div class="error-page"><%= @describe_global_error %></div>
            <% end %>
        </div>
        <div id="metadataContent">
            <% if @describe_metadata_objects_error.nil? %>
                <%= render "metadata/metadata" %>
            <% else %>
                <div class="error-page"><%= @describe_metadata_objects_error %></div>
            <% end %>
        </div>
        <div id="apexContent"><%= render "apex/apex" %></div>
    </div>

</div>
