
<% javascript 'handsontable.full.min',
			  'jquery-1.11.2.min',
			  'jquery-ui-1.11.3.min',
			  'jstree',
			  'select2.full.js',
			  'jquery.fileDownload.js',
			  'ajaxDownload.js',
			  'main',			  
			  'soqlexecuter', 
			  'describe', 
			  'metadata' 
%>
<div id="mainArea">
    <!--
    <div id="menuList">
        <ul>
    		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
            <li><a id="soqlexecuter" href="#" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
    		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="describe">Describe</a></li>
    		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a></li>
        </ul>
    </div>
    -->
    <div id="menuList">
        <ul class="nav">
    		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
            <li><a id="soqlexecuter" href="#" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
    		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="describe">Describe</a></li>
    		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a>
                <ul>
                    <li><a href="#" class="nochange" action="">Update</a></li>
                    <li><a href="#" class="nochange" action="">Create</a></li>
                </ul>
            </li>
        </ul>
    </div>    

    <div>
    <h1>Main#index</h1>
    <p>Find me in app/views/main/index.html.erb</p>
    </div>

    <div id="mainArea">
        <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent"><%= render "describe/describe" %></div>
    	<div id="metadataContent"><%= render "metadata/metadata" %></div>	
    </div>
</div>