<style>
#loginErrorMessage{
    color: red;
    white-space: pre;
}
</style>
<h1>Login#new</h1>
<p>Find me in app/views/login/new.html.erb</p>
<div align="center">
    <%= form_for :session, url: login_path do |f| %>
    <%= f.label 'User Name: ' %>
    <%= f.text_field :name, value: "murakoshi@cse.co.jp" %><br>
    <%= f.label 'Password:' %>
    <%= f.password_field :password, value: "s13926cse" %><br>
    <%= f.label 'Sandbox:' %>
    <%= f.check_box :is_sandbox %><br>
    <%= f.submit 'Login', :class => 'btn btn-primary' %>
    <div id="loginErrorMessage"><%= @error_message %></div>
    <% end %>
</div>
