<style>

#formArea{
    /*float:center;
    display:inline;
    padding-top: 20px;
    border:1px solid black;*/
    padding-top: 20px;
    margin: 0 auto;
}

#flashMessage{
    float:center;
    text-align:center;
    padding:5px;
    display:block;
}

.block{
    display: table;
    margin: 0;
    border: 0px solid black;
    table-layout: fixed;
    margin: 0 auto;
    width: 20%;
}

.block_label{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: 0px solid black;
    width: 40%;
    text-align: right;
    vertical-align: middle;
}

.block_element{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px solid black;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.login-button{
    display:table-cell;
    padding-top: 10px;
    padding-bottom: 2px;
    border: 0px solid black;
    width: 60%;
    text-align: center;
    vertical-align: middle;
}
select{
    width: inherit;
    font:inherit;
}
</style>

<div id="menuList">
    <ul></ul>
</div>

<div id="spaceArea" style="height:50px;">
<!--<h1>Login#new</h1>
<p>Find me in app/views/login/new.html.erb</p>-->
</div>

<div id="flashArea">
<% flash.each do |key, value| %>
    <div id="flashMessage" class="alert alert-<%= key %>"><%= simple_format(value) %></div>
<% end %>
</div>

<div id="loginArea">
    <div id="formArea">      
        <%= form_for :login_param, url: login_path do |f| %>
            <div class="block">
                    <div class="block_label"><%= f.label 'User Name:', :class => 'form-label' %></div>
                    <div class="block_element"><%= f.text_field :name, value: "" %></div>
            </div>
            <div class="block">
                    <div class="block_label"><%= f.label 'Password:', :class => 'form-label' %></div>
                    <div class="block_element"><%= f.password_field :password, value: "" %></div>
            </div>
            <div class="block">
                    <div class="block_label"><%= f.label 'Sandbox:', :class => 'form-label' %></div>
                    <div class="block_element"><%= f.check_box :sandbox %></div>
            </div>
            <div class="block">
                    <div class="block_label"><%= f.label :api_version, 'API Version:', :class => 'form-label' %></div>
                    <div class="block_element"><%= f.select :api_version, api_version_list %></div>
            </div>
            <div class="block">
                    <div class="login-button"><%= f.submit 'Login', :class => 'btn btn-primary' %></div>
            </div>
        <% end %>
    </div>
</div>
