<div id="menuList">
    <ul></ul>
</div>

<div id="loginSpaceArea"></div>

<div id="flashArea">
    <% flash.each do |key, value| %>
        <div id="flashMessage" class="alert alert-<%= key %>"><%= simple_format(value) %></div>
    <% end %>
</div>

<div id="loginArea">
    <div id="loginFormArea">      
        <%= form_for :login_param, url: login_path do |f| %>
            <div class="block">
                    <div class="block_label">
                        <%= f.label :user_name, 'User Name:' %>
                    </div>    
                    <div class="block_element">
                        <%= f.text_field :name, value: "" %>
                    </div>
            </div>
            <div class="block">
                    <div class="block_label">
                        <%= f.label 'Password:' %>
                    </div>
                    <div class="block_element">
                        <%= f.password_field :password, value: "" %>
                    </div>
            </div>
            <div class="block">
                    <div class="block_label">
                        <%= f.label 'Sandbox:' %>
                    </div>
                    <div class="block_element">
                        <%= f.check_box :sandbox %>
                    </div> 
            </div>
            <div class="block">
                    <div class="block_label">
                        <%= f.label :api_version, 'API Version: ' %>
                    </div>
                    <div class="block_element">
                        <div class="inner_left_block_element">
                            <%= f.select :api_version, api_version_list %>
                        </div>
                        <div class="inner_right_block_element">
                        </div>
                    </div>
            </div>
            <div class="block">
                    <div class="block_label"></div>
                    <div class="login-button">
                        <%= f.submit 'Login', :class => 'btn btn-primary btn-sm' %>
                    </div>
            </div>
        <% end %>
    </div>
</div>
