<div id="metadataArea">
	<div id="formArea">
	    <%= form_tag metadata_path(), :method => :post, :class => "metadata-form" do %>
		<table>
			<tr>
				<td><%= label_tag 'Metadata: ' %></td>
				<td>
				<div id="metadata_list">
					<%= render :partial => 'metadata/metadatalist', :locals => {:data_source => initial_metadata_list} %>
				</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="login-button">
				<%= submit_tag 'Metadata', :class => 'btn btn-primary execute-metadata' %>
                
				</td>
			</tr>
		</table>
		<% end %>
		<div id="messageArea"></div>
	</div>

	<div id="dummyArea"></div>
	
	<div id="tabArea">
		<br>
		<%= form_tag meta_download_path(), :id => "exportForm", :method => :post do %>
			<%= button_tag "Export Excel", :id => "excel-export", :class => "btn btn-default sub-btn exp-btn", :format => "excel" %>
			<%= button_tag "CSV Export",  :id => "csv-export", :class => "btn btn-default sub-btn exp-btn", :format => "csv" %>
			<%= button_tag "YAML Export", :id => "yaml-export", :class => "btn btn-default sub-btn exp-btn", :format => "yaml" %>
			<%= hidden_field_tag :format, "" %>
			<%= hidden_field_tag :selected_type, "" %>
			<%= hidden_field_tag :selected_record, "" %>
		<% end %>
		<%#= button_to "Export Excel", meta_download_path(:format => "excel"), :method => :post, :id => "exp-btn", :class => "btn btn-default sub-btn" %>
		<%#= button_to "CSV Export", meta_download_path(:format => "csv"), :method => :post, :id => "exp-btn", :class => "btn btn-default sub-btn" %>
		<%#= button_to "YAML Export", meta_download_path(:format => "yaml"), :method => :post, :id => "exp-btn", :class => "btn btn-default sub-btn" %>
				
		<ul>
			<li class="noselect"><a href="#list-result-tab">List</a></li>
			<li class="noselect"><a href="#read-result-tab">Tree</a></li>
			<li class="noselect"><a href="#sample-tab">Raw Data</a></li>
		</ul>
		<div id="list-result-tab" class="resultTab">
			<div id="list-overview" class="resultSoql">List</div>
			<div id="grid" class="resultGrid"></div>
		</div>
		<div id="read-result-tab" class="resultTab">
			<div id="read-overview" class="resultSoql">Tree</div>
			<div id="tree"></div>
		</div>
		<div id="sample-tab" class="resultTab">
			<div id="sample-overview" class="resultSoql">Raw</div>
			<div id="sample" class="resultGrid"></div>
		</div>
	</div>
</div>