<div id="metadataArea">

	<div class="formArea">
	    <%= form_tag metadata_path(), :method => :post, :class => "metadata-form" do %>
			<div class="tbl">
				<div class="row">
					<div id="metadataListLabel">
						<%= label_tag 'Metadata: ' %>
					</div>
					<div id="metadataList" class="input-sm select2-single"></div>
				</div>
			</div>

			<div>
				<%= submit_tag 'List metadata', :id => "executListMetadataBtn", :class => 'btn btn-sm btn-primary' %>                
			</div>
		<% end %>

		<p><div class="messageArea"></div></p>

	</div>
	
	<div class="tabArea">
		<ul>
			<li class="noselect"><a href="#metadataListTab">List</a></li>
			<li class="noselect"><a href="#editMetadataTab">Read/Edit</a></li>
			<li class="noselect"><a href="#deployMetadataTab">Deploy</a></li>
		</ul>

		<div id="metadataListTab" class="resultTab">
			<div id="list-overview" class="crud-button-area">
				<%= button_tag "Delete", :id => "deleteMetadataBtn", :action => metadata_crud_path(), :class => "btn btn-warning btn-xs ex-small-btn" %>
				<%= button_tag "Retrieve metadata", :id => "retrieveMetadataBtn", :action => metadata_retrieve_path(), :class => "btn btn-info btn-xs ex-small-btn" %>
			</div>
			<div id="metadataGrid" class="resultGrid"></div>
		</div>

		<div id="editMetadataTab" class="resultTab">
			<div id="edit-overview" class="crud-button-area">
				<%= button_tag "Update", :type => "button", :id => "updateMetadataBtn", :action => metadata_crud_path(), :class => "btn btn-warning btn-xs ex-small-btn" %>
				<%= button_tag "Expand", :type => "button", :id => "expandMetadataTree", :action => metadata_crud_path(), :class => "btn btn-xs btn-info ex-small-btn" %>
				<%= button_tag "Collapse", :type => "button", :id => "collapseMetadataTree", :class => "btn btn-xs btn-info ex-small-btn" %>
			</div>
			<div id="editMetadataTree" action="<%= metadata_edit_path() %>" class="tree-view"></div>
		</div>

		<div id="deployMetadataTab" class="resultTab">
			<div id="deployMetadataForm" class="crud-button-area">
				<div>
					<%= button_tag "Deploy", :id => "deployMetadataBtn", :action => metadata_deploy_path(), :class => "btn btn-warning btn-xs ex-small-btn" %>
					<%= file_field_tag :metadataZipFile, :class => "btn ex-small-btn metadata-file-field"  %>
				</div>
				<div id="deployMetadataOptions">
					   	<% @deploy_metadata_options.each do |k, v| %>
					    	<label class="deploy-option-lable">
					      		<%= check_box_tag k, k,v, :id => k, :class => "deploy-option" %>
					      		<%= k %>
					    	</label>
					    <% end %>
				</div>
			</div>		
			<div id="deployMetadataResultTree" class="tree-view"></div>	
		</div>

	</div>
</div>
