<style type="text/css">
.inButtonArea{
    border: 1px solid lightgray;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.btn-info{
    font-size: 8pt !important;
    font-family:Arial;
}


.ex-small-btn{
    font-size: 8pt !important;
    font-family:Arial;
}

.rawResult{
	border: 1px solid lightgray;
    width: inherit;
    height: 500px;
    overflow: auto;
    white-space: pre-wrap;
    padding: 5px;
}

.crudForm{
	float:left;
	margin-right:5px;
}

</style>
<div id="metadataArea">
	<div id="formArea">
	    <%= form_tag metadata_path(), :method => :post, :class => "metadata-form" do %>
		<div class="left_block">
			<div class="combined_block">
				<%= label_tag 'Metadata: ' %>
				<div id="metadata_list" class="input-sm select2-single"></div>
			</div>
		</div>
		<div class="left_block">
			<div class="label_block">
				<%= submit_tag 'Metadata', :class => 'btn btn-primary execute-metadata' %>                
			</div>
		</div>
		<% end %>
		<div id="messageArea"></div>
	</div>

	<div id="dummyArea"></div>
	
	<div id="tabArea">
		<br>

		<ul>
			<li class="noselect" id="list"><a href="#list-tab">List</a></li>
			<li class="noselect" id="edit"><a href="#edit-tab">Edit</a></li>
			<li class="noselect" id="create"><a href="#create-tab">Create</a></li>
			<li class="noselect"><a href="#raw-tab">Raw</a></li>
		</ul>

		<div id="list-tab" class="resultTab">
			<div id="list-overview" class="inButtonArea">
				<%= form_tag metadata_crud_path(), :id => "listForm", :method => :post, :class => "crudForm" do %>
					<%= button_tag "Delete", :id => "deleteButton", :class => "btn btn-warning ex-small-btn" %>
				<% end %>
				<%= form_tag metadata_retrieve_path(), :id => "retrieveForm", :method => :post do %>
					<%= button_tag "Retrieve metadata", :id => "retrieveButton", :class => "btn btn-info ex-small-btn exp" %>
				<% end %>
			</div>
			<div id="grid" class="resultGrid"></div>
		</div>

		<div id="edit-tab" class="resultTab" action="<%= metadata_read_path() %>" method="POST">
			<div id="edit-overview" class="inButtonArea">
				<%= form_tag metadata_crud_path(), :id => "editForm", :method => :post, :class => "crudForm" do %>
					<%= button_tag "Update", :id => "updateButton", :class => "btn btn-warning ex-small-btn" %>
				<% end %>
				<input type="button" value="Expand" id="expand" class="btn btn-info" />
				<input type="button" value="Collapse" id="collapse" class="btn btn-info" />
			</div>
			<div id="editTree" action="<%= metadata_edit_path() %>" method="POST" class="treeView"></div>
		</div>

		<div id="create-tab" class="resultTab">
			<div id="create-overview" class="inButtonArea">
				<%= form_tag metadata_crud_path(), :id => "createForm", :method => :post, :class => "crudForm" do %>
					<%= button_tag "Create", :id => "createButton", :class => "btn btn-warning ex-small-btn" %>
				<% end %>
				<input type="button" value="Add row" id="addRow" class="btn btn-info" />
				<input type="button" value="Remove row" id ="removeRow" class="btn btn-info" />
				<input type="button" value="Clear" id="clearGrid" class="btn btn-info" />
			</div>
			<div id="createGrid" class="resultGrid"></div>
		</div>

		<div id="raw-tab" class="resultTab">
			<div id="raw-overview" class="resultSoql">Raw</div>
			<div id="raw" class="rawResult"></div>
		</div>

	</div>
</div>