<style type="text/css">
	.right-align{
		float: right;
	}


</style>
<div id="soqlArea">
	<div id="formArea">
		<%= form_tag query_path(), :method => :post, :class => "execute-form" do %>
		<%= text_area_tag :input_soql,"", :size => "120x5" %>
		<br>
		<%= submit_tag "Execute", :class => "btn btn-sm btn-primary execute-soql" %>
		&nbsp;&nbsp;<label><input type="checkbox" id="useTooling"/> Use Tooling API</label>
		&nbsp;&nbsp;<label><input type="checkbox" id="queryAll"/> Query all</label>
		<% end %>
		<p><div id="messageArea"></div></p>
	</div>

	<div id="dummyArea"></div>
	
	<div id="tabArea">
		<!--
		<%= button_tag "Add tab", :type => "button", :id => "add-tab", :class => "btn btn-xs btn-default" %>
		<%= button_tag "Insert row", :type => "button", :id => "addRow", :class => "btn btn-xs btn-default" %>
		<%= button_tag "Remove row", :type => "button", :id => "removeRow", :class => "btn btn-xs btn-default" %>
				
		<%= button_tag "Export", :type => "button", :id => "exportBtn", :class => "btn btn-xs btn-default" %>
		<%= button_tag "Rerun", :type => "button", :id => "rerunBtn", :class => "btn btn-xs btn-default" %>
-->
		<div class="right-align">
			<%= button_tag "Upsert", :type => "button", :id => "upsertBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
			<%= button_tag "Delete", :type => "button", :id => "deleteBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
			<%= button_tag "Undelete", :type => "button", :id => "undeleteBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
		</div>
		<ul id="soqlTabs">
		</ul>
	</div>
</div>
