
<div id="soqlHistory" class="sidenav">
	<div class="tbl soql-history-title noselect">
	<div class="row"><button class="closebtn noselect">&times;</button></div>
	<div class="row">SOQL History</div>
	</div>
	<div class="soql-list">
		<ul style=""></ul>
	</div>
</div>

<div id="soqlArea">

	<div class="formArea">
		<%= form_tag query_path(), :method => :post, :class => "soql-form" do %>
			<div>
				<%= text_area_tag :input_soql,"", :size => "120x5", :class => "code-input", :spellcheck => false %>
			</div>
			<div>
				<%= submit_tag "Execute", :class => "btn btn-sm btn-primary execute-soql" %>
				<label class="soqlOptions"><input type="checkbox" id="useTooling"/> Use Tooling API</label>
				<label class="soqlOptions"><input type="checkbox" id="queryAll"/> Query all</label>
			</div>
		<% end %>
		
		<p><div class="messageArea"></div></p>
	</div>
	
	<div class="tabArea">
		<div class="left-align-btn">
		<%= button_tag "Export", :type => "button", :class => "btn btn-xs btn-default ex-small-btn export-btn" %>
		<% if @describe_error.nil? %>
			<%= button_tag "Create", :type => "button", :id => "openCreatGridBtn", :class => "btn btn-xs btn-default ex-small-btn" %>
		<% end %>
		<%= button_tag "History", :type => "button", :id => "soqlHistoryBtn", :class => "btn btn-xs btn-default ex-small-btn" %>
		</div>
		<div class="right-align-btn">
			<%= button_tag "Upsert", :type => "button", :id => "upsertBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
			<%= button_tag "Delete", :type => "button", :id => "deleteBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
			<%= button_tag "Undelete", :type => "button", :id => "undeleteBtn", :class => "btn btn-xs btn-warning ex-small-btn" %>
		</div>
		<ul id="soqlTabs">
			<li class="add-tab-li">
				<div class="add-tab-btn icon-plus"></div>
			</li>
		</ul>
	</div>	
	
	<div id="soqlOverRay">
		<div id="creatGridArea" class="create-dialog">
			<div class="tbl soql-grid-table">
				<div class="row">
					<div class="sobject-label">
						<%= label_tag 'sObjects: ' %>
					</div>
					<div class="sobject-list soql-sobject-list select2-single">
						<%= @describe_result %>
					</div>
				</div>
				
				<div class="row">
					<div class="fields-label">
						<%= label_tag 'Fields: ' %>
					</div>
					<div>
						<%= text_area_tag :sobject_fields,"", :class => "sobject-fields-textarea", :spellcheck => false %>
					</div>
				</div>
				<div class="row">
					<div>
						<%= label_tag 'Separator: ' %>
					</div>
					<div>
						<select id="sobjectFieldsSeparator">
							<option value="newline">New line</option>
							<option value="comma">Comma</option>							
						</select>
					</div>
				</div>

				<div class="row soql-empty-row"></div>

				<div class="row">
					<div></div>
					<div>
						<%= button_tag "Create", :type => "button", :id => "createGridBtn", :class => "btn btn-xs btn-info ex-small-btn" %>
						<%= button_tag "Cancel", :type => "button", :id => "cancelCreateBtn", :class => "btn btn-xs btn-info ex-small-btn" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

