<div id="soqlArea">
	<div id="formArea">
		<%= form_tag soql_path(), :method => :post, :class => "execute-form" do %>
		<%= text_area_tag :input_soql,"", :size => "120x5" %>
		<br>
		<%= submit_tag "Execute", :class => "btn btn-sm btn-primary execute-soql" %>
		&nbsp;&nbsp;<label><input type="checkbox" id="useTooling"/> Use Tooling API</label>
		<% end %>
		<p><div id="messageArea"></div></p>
	</div>

	<div id="dummyArea"></div>
	
	<div id="tabArea">
		<%= button_tag "Add tab", :type => "button", :id => "add-tab", :class => "btn btn-sm btn-default" %>
		<%= button_tag "Export", :type => "button", :id => "exportBtn", :class => "btn btn-sm btn-default" %>
		<%= button_tag "Save", :type => "button", :id => "saveBtn", :class => "btn btn-sm btn-default" %>
		<%= button_tag "Rerun", :type => "button", :id => "rerunBtn", :class => "btn btn-sm btn-default" %>
		<ul>
			<!--<li class="noselect"><a href="#tab1">Grid1</a>
			<span class="ui-icon ui-icon-close ui-closable-tab"></span>
			</li>
		-->
		</ul>
		<!--<div id="tab1" class="resultTab" tabId="1">
			<div id="soql1" class="resultSoql" tabId="1"></div>
			<div id="grid1" class="resultGrid" tabId="1"></div>
		</div>
	-->
	</div>
</div>
