<div id="describeArea">
		<div id="formArea">
			<%= form_tag describe_changelist_path(), :id => "filterSObjectList", :method => :get do %>
				<%= radio_button_tag 'sobjectTypeCheckBox', :all, false, :class => "sobjectTypeCheckBox" %>All&nbsp;&nbsp;
				<%= radio_button_tag 'sobjectTypeCheckBox', :standard, false, :class => "sobjectTypeCheckBox" %>Standard&nbsp;&nbsp;
				<%= radio_button_tag 'sobjectTypeCheckBox', :custom, true, :class => "sobjectTypeCheckBox" %>Custom&nbsp;&nbsp;
			<% end %>

			<div class="left_block">
				<div class="combined_block">
					<%= label_tag :sobjects, 'sObjects: ' %>
					<div id="sobjectList" class="input-sm select2-single"></div>
				</div>
			</div>
			<div class="left_block">
				<div class="label_block">
					<%= button_tag "Describe", :action => describe_path(), :method => :post, :id => "executeDescribe", :class => "btn btn-primary" %>
				</div>
			</div>

			<div id="messageArea"></div>
		</div>

		<div id="dummyArea"></div>
		
		<div id="tabArea">
			<br>
			<div id="exportButtonArea">
				<%= form_tag describe_download_path(), :id => "exportForm", :method => :post, :remote => false do %>
					<%= button_tag "CSV Export", :id => "csv-expprt", :class => "btn btn-default exp-btn", :dl_format => "csv" %>
					<%= button_tag "Excel Export", :id => "excel-export", :class => "btn btn-default exp-btn", :dl_format => "excel" %>
				<% end %>
			</div>	

			<div id="tab1" class="resultTab">
				<div id="method" class="resultSoql"></div>
				<div id="grid" class="resultGrid"></div>
			</div>
		</div>
</div>
