<div id="describeArea">
		<div class="formArea">
			<%= form_tag describe_changelist_path(), :id => "filterSObjectList", :method => :post do %>
				<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_all" value="all" class="sobjectTypeCheckBox" checked="checked">All</label>
				<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_standard" value="standard" class="sobjectTypeCheckBox">Standard</label>
				<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_custom" value="custom" class="sobjectTypeCheckBox">Custom</label>

			<% end %>

			<div class="left_block">
				<div class="combined_block">
					<%= label_tag :sobjects, 'sObjects: ' %>
					<div id="sobjectList" class="sobject-list input-sm select2-single"><%= @describe_result %></div>
				</div>
			</div>
			<div class="left_block">
				<div class="label_block">
					<%= button_tag "Describe", :action => describe_path(), :method => :post, :id => "executeDescribe", :class => "btn btn-sm btn-primary" %>
				</div>
			</div>

			<div class="messageArea"></div>
		</div>
		
		<div class="tabArea">
			<div class="exportButtonArea">
				<%= form_tag describe_download_path(), :id => "exportForm", :method => :post, :remote => false do %>
					<%= button_tag "Export", :id => "csv-expprt", :class => "btn btn-xs btn-default ex-small-btn" %>
				<% end %>
			</div>	

			<ul id="describeTabs">
				<li class="add-tab-li">
					<div id="addTabBtn" class="icon-plus"></div>
				</li>
			</ul>
		</div>
</div>
