<div id="describeArea">
		<div id="formArea">
			<%= form_tag describe_changelist_path(), :id => "filterSObjectList", :method => :post do %>
				<%= radio_button_tag 'sobjectTypeCheckBox', :all, true, :class => "sobjectTypeCheckBox" %>All&nbsp;&nbsp;
				<%= radio_button_tag 'sobjectTypeCheckBox', :standard, false, :class => "sobjectTypeCheckBox" %>Standard&nbsp;&nbsp;
				<%= radio_button_tag 'sobjectTypeCheckBox', :custom, false, :class => "sobjectTypeCheckBox" %>Custom&nbsp;&nbsp;
			<% end %>

			<div class="left_block">
				<div class="combined_block">
					<%= label_tag :sobjects, 'sObjects: ' %>
					<div id="sobjectList" class="sobject-list input-sm select2-single"><%= @describe_result %></div>
				</div>
			</div>
			<div class="left_block">
				<div class="label_block">
					<%= button_tag "Describe", :action => describe_path(), :method => :post, :id => "executeDescribe", :class => "btn btn-sm btn-primary" %>
				</div>
			</div>

			<div id="messageArea"></div>
		</div>

		<div id="dummyArea"></div>
		
		<div id="tabArea">
			<br>
			<div id="exportButtonArea">
				<%= form_tag describe_download_path(), :id => "exportForm", :method => :post, :remote => false do %>
					<%= button_tag "Export", :id => "csv-expprt", :class => "btn btn-xs btn-default ex-small-btn" %>
				<% end %>
			</div>	

			<ul id="describeTabs"><li class="add-tab-li"><div id="addTabBtn" class="icon-plus"></div></li></ul>
		</div>
</div>
