<style>
.resultTab{
	padding-right: 7px;
}

.resultSoql{
	border: 1px solid lightgray;
	font-size: 9pt;
	padding: 4px;
	margin-bottom: 2px;
	margin-top: 2px;
	white-space: pre;
}

.resultGrid {
	background: white;
	outline: 0;
	border: 0px solid gray;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
	margin: 0;
}

.ui-tabs .ui-tabs-nav li a {
	font-size:10pt !important;
}

.noselect {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em .5em .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav:focus {
	/*
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
	border-radius: 0px;
	*/
}

#tabArea ul li a { outline:none; /* outline-color:red */; }
#tabArea ul li { outline:none; /* outline-color:red */; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	/* cursor: pointer; */
}

.ui-tabs-nav .ui-icon { 
	/*
	float: right;
	margin: 0em 0em 0 1em;
	cursor: pointer;
	*/
}

#tabArea li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer; 
}

.handsontable span.colHeader{
    font-size: 10pt;
}

.handsontable th, .handsontable td{
    font-size: 10pt;
}

.handsontable span.data{
    color: black;
    font-style:bold;
}

#messageArea{
    width: 50%;
    display: none;
    color: red;
    white-space: pre;
}

#describeArea{
	padding-top: 20px;
	width:100%;
	margin: 0 auto;
}

#formArea{
	width: 70%;
	margin: 0 auto;
}

#tabArea{
	width: 60%;
	border: 0px solid lightgray;
	//margin: 0 auto;
	float:left;
}
#dummyArea{
	width: 15%;
	height: 10px;
	/*border: 1px solid lightgray;*/
	float: left;
}
.button_to,
.button_to div {
	font-size: 14px;
	font-family:Arial;
  	display: inline;
}
</style>
<% javascript 'handsontable.full.min','jquery-1.11.2.min','jquery-ui-1.11.3.min','describe' %>
<div id="menuList">
    <ul>
		<li><%= link_to "Logout", logout_path, method: :delete %></li>
		<li><%= link_to "SOQL", soql_path, method: :get %></li>
		<li><%= link_to "Describe", "#", :onclick => "return false;" %></li>
		<li><%= link_to "Metadata", metadata_path, method: :get %></li>
    </ul>
</div>

<div>
<h1>Describe#show</h1>
<p>Find me in app/views/describer/show.html.erb</p>
</div>

<div id="describeArea">
	<div id="formArea">
		<%= form_tag desc_change_path(), :method => :get, :class => "chk" do %>
		<%= radio_button_tag 'SOType', :all, false, :class => "chk" %>All&nbsp;&nbsp;
		<%= radio_button_tag 'SOType', :standard, false, :class => "chk" %>Standard&nbsp;&nbsp;
		<%= radio_button_tag 'SOType', :custom, true, :class => "chk" %>Custom&nbsp;&nbsp;
		<% end %>

	    <%= form_tag describe_path(), :method => :post, :class => "describe-form" do %>
		<table>
			<tr>
				<td><%= label_tag 'sObjects: ' %></td>
				<td><div id="object_list"><%= render partial: 'objectlist', locals: {data_source: @sobjects} %></div></td>
			</tr>
			<tr>
				<td colspan="3" class="login-button">
				<%= submit_tag 'Describe', :class => 'btn btn-primary execute-describe' %>
				</td>
			</tr>
		</table>
		<% end %>
		<div id="messageArea"><%= @input_error %></div>
	</div>

	<div id="dummyArea"></div>
	
	<div id="tabArea">
		<br>
		<%= button_to "CSV Export", desc_download_path(:format => "csv"), :method => :get, :id => "exp-btn", :class => "btn btn-default exp-btn" %>
		<%= button_to "Excel Export", desc_download_path(:format => "excel"), :method => :get, :id => "exp-btn", :class => "btn btn-default exp-btn" %>

		<div id="tab1" class="resultTab">
			<div id="method1" class="resultSoql"></div>
			<div id="grid1" class="resultGrid"></div>
		</div>
	</div>
</div>