<!DOCTYPE html>
<html>
  <head>
    <title>SforceSuppl</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- include only specified js files -->
    <%= yield(:head) %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
